# Virtual environment
venv/
.env/

# Python cache
__pycache__/
*.pyc

# Jupyter checkpoints
.ipynb_checkpoints/

# System files
.DS_Store

# Large data files
*.zip
*.tar
*.tar.gz
*.rar

# HTML, PDF exports
*.html
*.pdf

# Logs
*.log
